
.zone{
  width: 400px;
  margin: auto;
  margin-top: 80px;
  .titleZone{
      font-size: 2em;
      text-align: center;
  }
  .margin{
    margin-top: 15px;
  }  
  input{
      width: 100%;
      margin: auto;      
  }
  .wm{
      width: 100%;
      margin-top: 20px;
  }
}