<div class="container">
  <div class="row align-items-center">
    <div class="col"></div>
    <div class="col">
      <div class="zone">
        <div class="titleZone">Angular</div>
        <div class="margin" >帳號：<input type="text"  class="form-control" placeholder="帳號"></div>
        <div class="margin" >密碼：<input type="password"   class="form-control" placeholder="密碼"></div>
        <div class="margin" >
            <button class="btn btn-success text-white wm"  type="submit">
            登入
            </button>
        </div>
      </div>
    </div>
    <div class="col"></div>
  </div>
</div>